body {
    font-size: 14px;
    background: #2E3440;
}

.logo {
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: -6px;
    color: #222;
    margin: 0 30px 20px 30px;
}

.logo img {
    height: 120px;
    margin: 20px 0 0 10px;
}

.logo .number {
    color: #222;
    opacity: 0.1;
}

.navigation {
    margin-left: 33px;
}

.navigation a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #222;
    background: #222;
    color: #fff;
}

.navigation a:hover {
    color: #222;
    background: transparent;
}

.container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 33px auto;
}

.container table {
    font-size: 11px;
    margin-top: 20px;
}

.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}

.container table tbody td {
    padding: 4px 10px;
}

.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.container button:hover {
    background-color: #222;
    color: #fff;
}

.footer a {
    color: #454545;
}

.lh-condensed { line-height: 1.25; }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}